In [1]:
x = "double quotes"

In [3]:
y = 'single quotes'

In [8]:
z = '''triple quotes''' # docstrings

In [16]:
a = """triple double quotes""" # docstrings

In [9]:
type(x)

str

In [10]:
type(y)

str

In [11]:
type(z)

str

In [12]:
x = "Whatever I write, UPPERCASE, lowercase, @#*&^@#*&^$#$%^&*(), 29854323456789, {}<:<"

In [13]:
type(x)

str

In [14]:
print(x)

Whatever I write, UPPERCASE, lowercase, @#*&^@#*&^$#$%^&*(), 29854323456789, {}<:<

In [17]:
# we can't use mixed quotations

In [20]:
# this is not valid
'a"

SyntaxError: EOL while scanning string literal (3803207284.py, line 2)

In [30]:
x = "'ab'" # single quotes inside double quotes
y = '"ab"' # double quotes inside single quotes

In [31]:
print(x)
print(y)

'ab'
"ab"

In [32]:
z = "\"ab\"" # escape characters - TO BE COVERED TOMORROW

In [33]:
print(z)

"ab"

In [37]:
"a" > "A"
# This comparison happens on the basis of ASCII values
# MORE ABOUT ASCII IN THE SECOND HALF TODAY

True

In [38]:
"random" + "random2" # concatenation

'randomrandom2'

In [43]:
a = "a" * 3 * 2

In [44]:
print(a)

aaaaaa

In [41]:
"abc" > "cba" # lexicographical comparison

False

In [45]:
"zebra" > "abeyasdsdjhfvskdahdhagdfhadjkbfvjahdfjDHSVGHfzgs"
# LEXICOGRAPHICAL
# String which comes later in a dictionary has higher value

True

In [46]:
"zebra" > "ZEBRA"
# ASCII BASED
# We will learning more about this in the second half

True

In [47]:
length = 5
breadth = 10
area = length * breadth

In [49]:
def calc_area(l, b):
    a = l*b
    # length = l, breadth = b and area = a

In [50]:
def calc_area(l, b):
    a = l*b
    print("length =", l, ",breadth =", b, ",area =", a)

In [51]:
calc_area(4,5)

length = 4 ,breadth = 5 ,area = 20

In [52]:
def calc_area(l, b):
    a = l*b
    print("length = {}, breath = {}, area = {}".format(l, b, a))

In [53]:
calc_area(4,5)

length = 4, breath = 5, area = 20

In [56]:
def calc_area(l, b):
    a = l*b
    print("length = {2}, breath = {1}, area = {0}".format(a, b, l))

In [57]:
calc_area(4,5)

length = 4, breath = 5, area = 20

In [58]:
def calc_area(l, b):
    a = l*b
    print(f"length = {l}, breadth = {b}, area = {a}")

In [59]:
calc_area(4,5)

length = 4, breadth = 5, area = 20

In [60]:
s1 = "string1"
s2 = "string2"

a = f"{s1}, {s2}"

In [61]:
a

'string1, string2'

In [70]:
ord("a") # check integer value of character

97

In [71]:
ord("ðŸ˜„") # UTF - 8

128516

In [72]:
ord("\n")

10

In [73]:
chr(56) # get character from integer value

'8'

In [74]:
chr(128516)

'ðŸ˜„'

In [75]:
'''
Question 1 -
1. Take a string as input from the user.
2. Print thew string character by character in new lines.

INPUT - VIRAT
OUTPUT -
V
I
R
A
T
'''

'\nQuestion 1 -\n1. Take a string as input from the user.\n2. Print thew string character by character in new lines.\n\nINPUT - VIRAT\nOUTPUT -\nV\nI\nR\nA\nT\n'

In [76]:
a = input()

for i in a:
    print(i)

INDIA
I
N
D
I
A

In [77]:
'''
Question 2 -
1. Take a string as input from the user.
2. Print the following - 
"First Character - f, Last Character - l"
'''

'\nQuestion 2 -\n1. Take a string as input from the user.\n2. Print the following - \n"First Character - f, Last Character - l"\n'

In [78]:
a = input()

print(f"First Character - {a[0]}, Last Character - {a[-1]}")

SHAILENDAR
First Character - S, Last Character - R

In [79]:
'''
Question 3 -
1. Take a string as input from the user.
2. Reverse that string.
'''

'\nQuestion 3 -\n1. Take a string as input from the user.\n2. Reverse that string.\n'

In [80]:
a = input()

a[::-1]

Sudhendu

'udnehduS'

In [81]:
'''
Question 4 -
1. Take a string as input from the user.
2. Check whether that string is a palindrome.
   Create a function which returns "PALINDROME" if true otherwise "NOT A PALINDROME."
'''

'\nQuestion 4 -\n1. Take a string as input from the user.\n2. Check whether that string is a palindrome.\n   Create a function which returns "PALINDROME" if true otherwise "NOT A PALINDROME."\n'

In [82]:
"BipIn" # this is also considered to be a palindrome

'BipIn'

In [84]:
a = input()

def check_palindrome(a):
    a = a.lower()
    
    return "PALINDROME" if a == a[::-1] else "NOT A PALINDROME"

NAMAN

In [85]:
check_palindrome(a)

'PALINDROME'

In [86]:
check_palindrome("nakul")

'NOT A PALINDROME'

In [87]:
check_palindrome("NamAn")

'PALINDROME'

In [88]:
'''
Question 5 -
1. Take a string as input from the user.
2. Print the number of uppercase characters in that string. (alphabets)

INPUT - "This is a Random%^&*()"
OUTPUT - 2
'''

'\nQuestion 5 -\n1. Take a string as input from the user.\n2. Print the number of uppercase characters in that string. (alphabets)\n\nINPUT - "This is a Random%^&*()"\nOUTPUT - 2\n'

In [89]:
a = "This is a Random%^&*()"

In [91]:
def count_uppercase(a):
    count = 0
    
    for i in a:
        if ord(i) >= 65 and ord(i) <= 90:
            count += 1
            
    return count

In [92]:
count_uppercase(a)

2

In [93]:
def count_uppercase_easy(a):
    count = 0
    
    for i in a:
        if i.isupper():
            count += 1
            
    return count

In [94]:
count_uppercase_easy(a)

2

In [95]:
"A".isupper()

True

In [96]:
"A".islower()

False

In [97]:
"a".islower()

True

In [99]:
'''
Question 6 -
1. You are given a list as input to a function.
2. Generate a string from the chr values of the integers in the list.

INPUT = [65, 97, 68]
OUTPUT = "AaD"

EXPLANATION - 
"A" -> 65
"a" -> 97
"D" -> 68
'''

'\nQuestion 6 -\n1. You are given a list as input to a function.\n2. Generate a string from the chr values of the integers in the list.\n\nINPUT = [65, 97, 68]\nOUTPUT = "AaD"\n\nEXPLANATION - \n"A" -> 65\n"a" -> 97\n"D" -> 68\n'

In [100]:
a = [65, 69, 80, 120, 110, 10, 100, 128516, 122342, 55]

In [101]:
def generate_string(a):
    s = ""
    
    for i in a:
        s += chr(i)
    
    return s

In [102]:
generate_string(a)

'AEPxn\ndðŸ˜„\U0001dde67'

In [ ]:
chr()